
# Core Frameworks
streamlit
pandas
numpy
matplotlib
plotly

# A.I. Engines (Inference Optimized)
tensorflow
torch
scikit-learn
joblib

# Logistics & Analysis
SALib

# Integration & Bridge
pyzmq
pygame

# Rendering Utilities
Pillow
